* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    color: white;
    background-image: url(imagens/bg-light.jpg);
    background-size: cover;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: background 0.3s, color 0.3s;
}
body.dark {
    background-image: url(imagens/bg-dark.jpg);
    background-size: cover;
    height: 100vh;
    color: white;
}

#container {
    background-color: rgba(37, 58, 143, 0.785);
    border-radius: 30px;
    padding: 1.5rem 3rem 2rem 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    transition: background 0.3s, color 0.3s;
}

body.dark #container {
    background-color: rgba(47, 39, 91, 0.785);
    color: white;
}

.inicio {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    column-gap: 2.5rem;
    margin-bottom: 1.5rem;
}

.inicio button {
    grid-column: 3;
    background: none;
    border: none;
    align-self: center;
    justify-self: self-end;
    padding: 5px;
}

.inicio button:hover {
    cursor: pointer;
    border: 1px solid gray;
    border-radius: 100px;
    transition: 0.2s;
}

.user {
    background-color: rgb(0,38,77);
    border-radius: 100px;
    padding: 0.8rem;
    grid-column: 2;
    justify-content: center;
}

.user:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

.user img {
    height: 2rem;
}

.caixa-login .caixa-usuario {
    display: flex;
}

.caixa-login .caixa-usuario img {
    background-color: rgb(0,38,77);
    padding: 0.5rem;
    height: 2rem;
    cursor: pointer;
}

.caixa-login .caixa-usuario input {
    resize: none;
    height: 2rem;
    padding-left: 12px;
    width: 13rem;
    background-color: rgb(55,81,118);
    border: none;
    margin-bottom: 0.5rem;
}

.caixa-login .caixa-senha {
    display: flex;
    margin-bottom: 1.5rem;
}

.caixa-login .caixa-senha img {
    background-color: rgb(0,38,77);
    padding: 0.5rem;
    height: 2rem;
    cursor: pointer;
}

.caixa-login .caixa-senha input {
    height: 2rem;
    padding-left: 12px;
    width: 11rem;
    background-color: rgb(55,81,118);
    border: none;
}

.caixa-login .caixa-senha .olho {
    background-color: rgb(55,81,118);
    align-self: center;
    padding: 6.6px;
    margin-bottom:5px;
    cursor: pointer;
}

.rodape {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 2.5rem;
}

.rodape button {
    color: gray;
    border: none;
    background: none;
    font-size: x-small;
}

.rodape button:hover {
    cursor: pointer;
    border-bottom: 1px solid gray;
}

.caixa-botao {
    background-color: rgb(6, 40, 75);
    border-radius: 20px;
}

.caixa-botao button{
    border: none;
    background: none;
    color: white;
    font-size: 17px;

    padding: 0;
    display: flex;
    justify-content: center; /* Alinha horizontalmente */
    align-items: center;     /* Alinha verticalmente */
    height: 3.5rem;
    width: 8rem;
}

.caixa-botao:hover {
    transform: scale(1.1);
    transition: 0.2s;
    cursor: pointer;
}
